* {
    margin: 0px;
}
header{
    background-color: #00FA9A;
    height: auto;
	filter: contrast(80%);
	margin: 0 auto;
}
.cab {
	display: block;
	position: relative;
	margin: 0 auto;
}
.logo {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 50px;
	height: auto;
}
.menu {
	display: inline-block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.menu a{
	text-decoration: none;
	margin: 10px;
}
img {
	max-width: 100%;
}
.imagens{
	text-align: center;
}
.imagens figure {
	display: inline-block;
  	text-align: left;
  	padding: 5%;
  	width: 20%;
}
.imagens figure img{
	width: 30%
}
.mapa {
	width: 100%;
}