body{
    margin: 0px;
	background-color: #005073;
}
#logo{
    margin: auto;
    display: table;
	height: 25px;
	width: auto; 
	background: transparent;
	padding-top: 100px;
}
#logo img {
	width: 400px;
}
#sec1 .meio{
    margin: 0 auto;
    display: table;
	background: transparent;
}
.meio div input{
    border-radius: 10px;
	margin-top: 15px;
	width: 375px;
	height: 40px;
	background-color: #DCDCDC;
}
.meio div input:hover{
	background-color: #f4f4f4;
}
.button {
   margin-top: 15px;
   background: #DCDCDC;
   margin: 5px;
   border-radius: 8px;
   font-family: roboto;
}
.button:hover {
   background: #ccc;
   color: #ccc;
}
.button a{
	text-decoration: none;
}
.button h1{
	text-align: center;
	text-decoration: none;
	font-size: 1.5em;
	color: #005073;
}